#!version:1.0.0.1
network.vlan.dhcp_enable = 1
network.vlan.dhcp_option = 132
phone_setting.active_backlight_level = 1
phone_setting.contrast = 3
phone_setting.called_party_info_display.enable = 1
phone_setting.call_info_display_method = 4
watch_dog.enable = 1
auto_provision.mode = 6
auto_provision.schedule.periodic_minute = 1
#local_time.ntp_server1 = 85.21.78.91
#local_time.ntp_server2 = 10.64.159.1
local_time.time_zone = +4

account.1.codec.1.enable = 0
account.1.codec.1.payload_type = PCMU
account.1.codec.1.priority = 1
account.1.codec.1.rtpmap = 0

account.1.codec.2.enable = 1
account.1.codec.2.payload_type = PCMA
account.1.codec.2.priority = 2
account.1.codec.2.rtpmap = 8

account.1.codec.3.enable = 0
account.1.codec.3.payload_type = G723_53
account.1.codec.3.priority =0
account.1.codec.3.rtpmap = 4

account.1.codec.4.enable = 0
account.1.codec.4.payload_type = G723_63
account.1.codec.4.priority = 0
account.1.codec.4.rtpmap = 4

account.1.codec.5.enable = 0
account.1.codec.5.payload_type = G729
account.1.codec.5.priority = 3
account.1.codec.5.rtpmap = 18

account.1.codec.6.enable = 0
account.1.codec.6.payload_type = G722
account.1.codec.6.priority = 4
account.1.codec.6.rtpmap = 9

account.1.codec.7.enable = 0
account.1.codec.7.payload_type = iLBC
account.1.codec.7.priority = 0
account.1.codec.7.rtpmap = 106

account.1.codec.8.enable = 0
account.1.codec.8.payload_type = G726-32
account.1.codec.8.priority = 0
account.1.codec.8.rtpmap = 102

